.photo1 img{
	width: 33.333333%;
	min-width: 330px;
	height: 35%;
	min-height: 180px;
	float: left;
	padding-left: 0.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
}
.photo2 img{
	width: 33.333333%;
	min-width: 330px;
	height: 35%;
	min-height: 180px;
	float: left;
	padding-left: 0.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
}
.photo3 img{
	width: 33.333333%;
	min-width: 330px;
	height: 35%;
	min-height: 180px;
	float: left;
	padding-left: 0.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
}
.photo4 img{
	width: 33.333333%;
	min-width: 330px;
	height: 35%;
	min-height: 180px;
	float: left;
	padding-left: 0.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin: 0;
}
#photo img:hover{
	border-radius: 50%;
	background-color: orange;
}